@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Zeyada&display=swap");

/* VARIABLES CSS */

/* FONT & TYPOGRAPHY  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM SCROLLBARS */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f7f70137;
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#089e40, #f7f701);
}

:root {
  /* COLORS */

  --text: #ffffff;
  --text-2: #089e40;
  --text-3: #f7f701;
  --text-4: #000;
  --btn-bg-1: #000000;
  --btn-bg-2: #f7f701;
  --btn-bg-3: #089e40;
  --btn-bg-4: #ffffff;
  /* --section-bg: #000000; */
  --section-bg: #fff;
  --section-bg-1: #089e40;
  --section-bg-2: #f7f701;
  --section-bg-3: #000000;
  --icon-color-1: #fff;

  /* PAGE PROPERTIES */
  --z-fixed: 100;
  --header-height: 4rem;
}

body {
  height: 100vh;
  font-family: nunito;
  padding-top: var(--header-height);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* REUSABLE CSS CLASSES */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
  margin: auto;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--section-bg);
  z-index: var(--z-fixed);
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--section-bg);
}

.nav {
  height: var(--header-height);
}

.nav-left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-burger,
.nav-close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav-close {
  opacity: 0;
}

.nav-left img {
  height: 40px;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-right: 8rem;
  font-size: 0.95rem;
}

.nav-link {
  color: var(--text-2);
}

.nav-link:hover {
  color: var(--text-3);
}

.nav-right {
  background-color: var(--section-bg);
}

.nav-right img {
  height: 35px;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
}

/* Show Icon */

.show-icon .nav-burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* NAV FOR MOBILE */

@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    display: block;
  }

  /* Show Menu */
  .nav-menu.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }

  .nav-menu::-webkit-scrollbar {
    width: 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-list {
    display: block;
    margin-right: 0;
    column-gap: 0;
    height: auto;
    flex-direction: column;
    background-color: var(--section-bg);
    padding-top: 1rem;
  }

  .nav-link {
    color: var(--text)--2;
    background-color: var(--section-bg);
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }

  .contact {
    width: 100%;
    padding: 0;
  }

  .content > p {
    display: none;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .input-areas {
    flex-direction: column;
    width: 100%;
  }

  .input-areas input {
    width: 100%;
  }
}

/* LARGER SCREENS */

@media screen and(min-width:1119px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav-link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
}

/* CONTACT FORM */

.contact {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--section-bg-1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.541)),url(../assets/YS-Falls.jpg);
  background-size: cover;

}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: var(--text);
}

.contact .content p {
  font-size: 24px;
  font-weight: 500;
  color: var(--text);
}

.main-container {
  width: 100%;
  max-width: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.main-container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.main-container .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.main-container .contact-info .box .icon img {
  min-width: 30px;
  height: 40px;
  background: var(--section-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}

.main-container .contact-info .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: var(--text);
  flex-direction: column;
  font-weight: 300;
}

.main-container .contact-info .box .text h3 {
  font-weight: 500;
  color: var(--text-);
}

form {
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

form input,
form textarea {
  border: none;
  border-bottom: 2px solid white;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  font-size: 16px;
  background: none;
  color: var(--text);
  border-radius: 3px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--text);
}

#subject{
  text-align: center;
}

form textarea {
  border: 2px solid white;
}

.input-areas {
  display: flex;
}

.input-areas input {
  margin-right: 1rem;
  height: 2rem;
  text-align: center;
}

.input-areas input:nth-child(2) {
  margin-right: 0;
}

form button {
  width: 8rem;
  height: 2.5rem;
  background-color: var(--btn-bg-2);
  color: var(--text-4);
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:active {
  background-color: var(--btn-bg-1);
  color: var(--text-3);
}

/* FOOTER */
footer {
  width: 100%;
  background-color: var(--section-bg);
}

.footer-ctn {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  color: var(--text-4);
}

.footer-contact h2 {
  color: var(--text-2);
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
}

.fc-sections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  place-items: center;
  align-items: flex-start;
}

.fc-element {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.fc-element h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0;
}

.opening-hours {
  width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}
