/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Zeyada&display=swap");

/* VARIABLES CSS */

/* FONT & TYPOGRAPHY  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */

  --text: #ffffff;
  --text-2: #089e40;
  --text-3: #f7f701;
  --btn-bg-1: #000000;
  --btn-bg-2: #f7f701;
  --btn-bg-3: #089e40;
  --section-bg: #000000;
  --section-bg-1: #089e40;
  --icon-color-1: #fff;

  /* PAGE PROPERTIES */
  --z-fixed: 100;
  --header-height: 3.5rem;
}

body {
  height: 100vh;
  font-family: nunito;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* REUSABLE CSS CLASSES */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--section-bg);
  z-index: var(--z-fixed);
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--section-bg);
}

.nav {
  height: var(--header-height);
}

.nav-left {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
}

.nav-burger,
.nav-close {
  color: var(--icon-color-1);
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav-close {
  opacity: 0;
}

.nav-left img {
  height: 40px;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-right: 8rem;
  font-size: 0.95rem;
}

.nav-link {
  color: var(--text-2);
}

.nav-link:hover {
  color: var(--text-3);
}

.nav-right {
  background-color: var(--section-bg);
}

.nav-right img {
  height: 40px;
  cursor: pointer;
  display: flex;
  padding-left: 20px;
}

/* NAV FOR MOBILE */

@media screen and (max-width: 1118px) {
  .nav-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    display: block;
  }

  .nav-menu::-webkit-scrollbar {
    width: 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-list {
    display: block;
    margin-right: 0;
    column-gap: 0;
    height: auto;
    flex-direction: column;
    background-color: var(--section-bg);
    padding-top: 1rem;
  }

  .nav-link {
    color: var(--text);
    background-color: var(--section-bg);
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
}

/* Show Menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show Icon */

.show-icon .nav-burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* BREAKPOINTS */

/* SMALL DEVICES */

@media screen and(max-width:340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav-link {
    padding-inline: 1rem;
  }
}

/* LARGE DEVICES */

@media screen and(min-width:1119px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .nav-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav-link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
}

/* HERO SECTION */

.hero-section {
  display: flex;
}
